<div class="jumbotron">
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>
  <p>
      <strong>My planets:</strong>
      <ul>
        <% @user.planets.each do |p| %>
          <% if p.id == @user.planet_id %>
            <li><b><%= p.name %></b></li>
          <% else %>
            <li><%= p.name %></li>
          <% end %>
        <% end %>
      </ul>
  </p>
</div>
