<div class="jumbotron">
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>
  <p>
      <strong>My planets:</strong>
      <ul>
        <% @user.planets.each do |p| %>
          <li><%= p.name %></li>
        <% end %>
      </ul>
  </p>
</div>
