<div class="jumbotron">
  <h1 class="display-3">Galactic Empire</h1>
  <p class="lead">
    Un planète, une galaxie, un empire ! Le destin de la galaxie entre vos mains.
    Rejoignez la lutte pour gouverner l'univers !
  <p>
  <hr class="my-4">
  <p>
    Galactic Empire est un jeu de gestion où vous serez amenés, à partir de votre planète mère,
    à diriger votre empire. Défendez vos planètes, attaquez vos ennemis, développez vos technologies et
    vous gouvernerez l'univers. Rejoignez la lutte et devenez le plus grand empereur galactique.
  <p>
  <p class="lead">
    <a class="btn btn-info btn-lg" href="<%= url_for(controller: 'users', action: 'new') %>" role="button">S'inscrire</a>
    <a class="btn btn-success btn-lg" href="<%= url_for(controller: 'sessions', action: 'new') %>" role="button">Se connecter</a>
  <p>
</div>
